{% extends "competitions/base.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}

{% block main %}

{% bootstrap_messages %}
<form action={% url 'phase_upload_data' object.pk %} method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}

  {% bootstrap_form form %}

  {% bootstrap_button button_type="submit" content="OK" %}
  {% bootstrap_button button_type="link" content="Cancel" button_class="btn-outline-primary" onclick="history.back()" %}

</form>
{% endblock main %}
